Workflows/NotifyWaitlistedCustomerV2-84110B8E-C107-EF11-9F89-0022480B6936.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rps_sharedcommondataserviceforapps_dd062"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "rps_sharedoffice365_24e35"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "ede5bdfd-e2fd-46c2-9927-5462130df34d"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "Wait Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Waitlist_Id": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "b47f972c-7480-45d7-964e-c5fa46e9327c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "rps_waitlists",
              "recordId": "@triggerBody()['text']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Customer_Info": {
          "runAfter": {
            "Get_Waitlist_Id": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "a96baef3-a231-4852-a735-0db45e45f115"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Waitlist_Id')?['body/_rps_customer_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_Notification_Email": {
          "runAfter": {
            "Get_Customer_Info": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8d20a67e-2c4a-4cf9-80a8-32266c04abca"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_Customer_Info')?['body/emailaddress1']",
              "emailMessage/Subject": "Your table is now ready",
              "emailMessage/Body": "<p>Dear @{outputs('Get_Customer_Info')?['body/fullname']},<br>\n<br>\nA table for your party size of @{outputs('Get_Waitlist_Id')?['body/rps_partysize']} is available. Please make your way to the host stand.</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}