Workflows/NotifyWaitlistedCustomerByEmail-26EB67AB-7B02-EF11-A1FD-000D3A347CF3.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "rps_sharedcommondataserviceforapps_dd062"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_office365_1": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "rps_sharedoffice365_24e35"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "0487bd40-6109-496b-933e-ecacc9df06cf"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text_2": {
                  "title": "Wait Id",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "Please enter your input",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text_2"
              ]
            }
          }
        }
      },
      "actions": {
        "Get_Customer_ID": {
          "runAfter": {
            "Get_Waitlist_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "74493701-9aa1-4d52-8871-98b1bd39ca14"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "contacts",
              "recordId": "@outputs('Get_Waitlist_ID')?['body/_rps_customer_value']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Get_Waitlist_ID": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "1da426ed-1238-4180-a7f6-6c99dccf759b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "GetItem",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "rps_waitlists",
              "recordId": "@triggerBody()['text_2']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Send_an_email_(V2)": {
          "runAfter": {
            "Get_Customer_ID": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "18b59640-fa17-40fc-8882-bc17c1a97fd3"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365_1",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "@outputs('Get_Customer_ID')?['body/emailaddress1']",
              "emailMessage/Subject": "Your table is now ready",
              "emailMessage/Body": "<p>Dear @{outputs('Get_Customer_ID')?['body/fullname']},<br>\n<br>\nA table for your party size of @{outputs('Get_Waitlist_ID')?['body/rps_partysize']} is available. Please make your way to the host stand. Your table is reserved for 10 mins.</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}